<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>PageSummarizer API</title>
  <link href='/page_summarizer/flask/templates/style.css' rel='stylesheet' type='text/css'>

</head>

<body>
    <div class="login">
        <h1>Summarize Your Page With Few Clicks</h1>
        <form method="post">
            <input type="text" name="u" placeholder="Place your page URL" required="required" />
            <button type="submit" class="btn btn-primary btn-block btn-large">Summarize</button>
        </form>
    </div>
</body>
</html>